<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        darkMode: false,
        theme: { extend: {} },
        plugins: [require("daisyui")],
        daisyui: {
          themes: ["light", "dark", "cupcake", "emerald", "synthwave"],
        },
      };
    </script>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.css"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <title>Image Encryptor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script src="{{ url_for('static', filename='js/mode.js') }}"></script>
  </head>

  <body class="bg-base-200">
    <div class="navbar bg-base-100 shadow">
      <div class="flex-1 px-4 text-xl font-bold">Image Encryptor</div>
      <div class="flex-none">
        <label class="swap swap-rotate mr-4" for="theme-toggle">
          <input id="theme-toggle" type="checkbox" />
          <svg
            class="swap-on fill-current w-6 h-6"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <path
              d="M5.64 17l-.71.71c-3.12-3.12-3.12-8.19 0-11.31l.71.71c-2.73 2.73-2.73 7.17 0 9.89zm6.36 3a9 9 0 110-18 9 9 0 010 18zm0-16a7 7 0 100 14 7 7 0 000-14z"
            />
          </svg>
          <svg
            class="swap-off fill-current w-6 h-6"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <path
              d="M6.76 4.84l-1.8-1.79L4 3.99l1.79 1.79 1.82-1.82-.85-.12zM1 11H0v2h1v-2zm11-9h-2v1h2V2zm8.24 2.05l-.11.85 1.82 1.82 1.79-1.79-1.82-1.82-.85-.11zm3.76 8.95h1v-2h-1v2zM17.24 19.16l1.8 1.79 1.06-1.06-1.79-1.79-1.82 1.82.85.12zM12 18a6 6 0 110-12 6 6 0 010 12z"
            />
          </svg>
        </label>
      </div>
    </div>

    <div class="container mx-auto px-4">{% block content %}{% endblock %}</div>
  </body>
</html>
