<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <body>
    <h2>Encode Message</h2>
    <form method="post" enctype="multipart/form-data">
      Image: <input type="file" name="image" required /><br />
      Message:<br />
      <textarea name="message" rows="6" cols="50" required></textarea><br />
      Password: <input type="password" name="password" required /><br />
      <input type="submit" value="Encode" />
    </form>
  </body>
</html>
