{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card p-4">
            <h3 class="mb-3 text-center">Encode Message into Image</h3>

            <form method="POST" enctype="multipart/form-data">
                <label class="mb-1">Select Image</label>
                <input type="file" name="image" class="form-control mb-3" required>

                <label class="mb-1">Secret Message</label>
                <textarea name="message" rows="3" class="form-control mb-3" required></textarea>

                <label class="mb-1">Password</label>
                <input type="password" name="password" class="form-control mb-4" required>

                <button class="btn btn-custom w-100">Encode & Download</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
